* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
header {
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.sticy-nab-Bar {
  width: 100%;
  position: fixed;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #ece4db;
  position: relative;
  border-bottom: 1px solid gray;
}
.nabBar-brand h1 {
  font-size: 30px;
}
.logo-color {
  color: #5439f8;
}
.nav-links {
  display: flex;
  position: relative;
}
.nav-links ul {
  text-align: right;
}
.nav-links ul li {
  display: inline-block;
}
.nav-links ul li a {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  padding: 0 10px;
}
.nav-links ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #5439f8;
  margin: 0 auto;
  display: block;
}
.nav-links ul li a:hover::after {
  width: 100%;
  transition: 0.5s linear;
}
.nav-button {
  margin-left: 80px;
}
.nav-button-link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  padding: 2px 20px;
  border: 1px solid gray;
  border-radius: 20px;
}
.navBar-icon {
  position: relative;
  display: none;
}
.navBar-icon .fas {
  font-size: 25px;
  border: 1px solid gray;
  padding: 2px 6px;
  position: absolute;
}
/* header info */
.header-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-info-column {
  width: 45%;
  margin: 5%;
}
.header-info-column h2 {
  font-size: 40px;
  font-weight: 700;
}
.header-info-column p {
  font-size: 20px;
  padding: 20px 0;
}
.button-links {
  display: inline-block;
  margin-top: 20px;
}
.more-info,
.watch-video {
  text-align: center;
  text-decoration: none;
  border: 1px solid gray;
  padding: 10px 20px;
}
.more-info {
  border-radius: 5px;
}
.watch-video {
  background-color: #5439f8;
  color: #fff;
  margin-left: 20px;
  border-radius: 30px;
}
.header-info-column img {
  width: 80%;
}

/* Media Query */
@media only screen and (max-width: 768px) {
  header {
    overflow-x: hidden;
  }

  .nav-links ul {
    text-align: center;
    padding: 30px;
  }
  .nav-links ul li {
    padding: 8px 5px;
    display: block;
  }
  .nav-links {
    position: absolute;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: #5439f8;

    top: 65px;
    right: -200px;
    z-index: 1;
    transition: 0.5s linear;
  }
  .nav-links ul li a {
    color: white;
  }
  .nav-links ul li a:hover {
    color: rgba(0, 0, 0, 0.5);
  }
  .nav-links ul li a:hover::after {
    background-color: #fff;
  }
  .nav-links ul li a:hover::after {
    width: 50%;
  }
  .nav-button {
    margin: auto;
    margin-top: 0;
  }
  .nav-button-link {
    background-color: #fff;
    font-size: 20px;
    transition: 0.5s;
  }
  .nav-button-link:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  .navBar-icon {
    display: block;
    margin-right: 40px;
    margin-bottom: 30px;
  }
  .navBar-icon .fa-times {
    display: none;
  }
  .header-info {
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }
  .header-info-column {
    width: 70%;
    margin-bottom: 30px;
  }
  .header-info-column h2 {
    font-size: 30px;
  }
  .header-info-column p {
    font-size: 20px;
    padding: 20px 0;
  }
  .button-links {
    margin: 10px auto;
  }
  .more-info,
  .watch-video {
    display: block;
    text-decoration: none;
    border: 1px solid gray;
    padding: 10px 20px;
    margin-bottom: 10px;
  }

  .watch-video {
    margin-left: 0;
  }
  .header-info-column img {
    width: 80%;
  }
}
/* organization section start */
section {
  margin: auto;
  width: 90%;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.organization-section {
  margin-left: 10px;
}
.col-m-3 {
  width: 30%;
  margin: 3%;
}
.org-col {
  display: flex;
  justify-content: space-around;
}
picture > img {
  margin-right: 10px;
}
/* media query for organization */
@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col-m-3 {
    width: 90%;
  }
}
/* countiner section styles */
.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter-col {
  width: 30%;
  color: #f6f5fc;
  background-color: #5439f8;
  padding: 40px 30px;
  margin: 5%;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .counter-container {
    flex-direction: column;
  }
  .counter-col {
    width: 80%;
  }
}
/* Team work */
.col-md-2 {
  width: 45%;
}
.col-md-2 img {
  width: 90%;
}
.col-md-2 h2 {
  font-size: 30px;
}
.col-md-2 h2 .dynamic {
  color: #5439f8;
}
.under-line::after {
  content: "";
  display: block;
  width: 20%;
  height: 4px;
  margin: 10px 0;
  background-color: #5439f8;
}
.col-md-2 p {
  margin: 10px 0;
}
/* media query for team-work section */
@media only screen and (max-width: 768px) {
  .col-md-2 {
    width: 80%;
    margin: 20px 40px;
  }
  .col-md-2 p {
    font-size: 20px;
  }
}

/* services section  */
.services {
  margin-bottom: 40px;
}
.details-button {
  background-color: #5439f8;
  color: #fff;
}
.service-img {
  margin-left: 100px;
}
@media only screen and (max-width: 768px) {
  .services {
    flex-direction: column-reverse;
  }
  .service-img {
    margin-left: 0;
  }
}
/* priority section start */
.priority-section {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.Comfort {
  color: #5439f8;
}
.priority-section h2::after {
  content: "";
  height: 4px;
  width: 10%;
  display: block;
  margin: 20px auto;
  background-color: #5439f8;
}
.priority-section h3 {
  font-size: 16px;
  color: gray;
  word-spacing: 5px;
  font-weight: 100;
}
picture .fa-servicestack {
  margin: 20px 0;
  font-size: 60px;
  color: gray;
}
.priority-section .col-md-3 {
  margin: 15px;
  padding: 0 10px 20px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* contact section style start */
#contact {
  margin-top: 50px;
  width: 90%;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contact-col {
  width: 45%;
}
#contact h2 {
  font-size: 30px;
}
#contact h2,
p {
  margin: 20px 0;
}
#contact p {
  font-size: 18px;
}
#contact ul li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 10px;
}
#contact ul li a {
  text-decoration: none;
}
#contact ul li a i {
  font-size: 20px;
}
.fa-map,
.fa-envelope,
.fa-mobile-alt {
  border: 1px solid black;
  border-radius: 50%;
  padding: 8px;
  margin: 10px;
}

.bottom-line::after {
  content: "";
  display: block;
  width: 20%;
  height: 5px;
  border-radius: 3px;
  margin: 10px 0;
  background-color: #5439f8;
}
/* contact second part */
form {
  margin-top: 10px;
}
.form-control {
  margin: 10px 0;
}
.form-control input {
  width: 100%;
  padding: 10px 6px;
  font-size: 20px;
  outline: none;
  border: 1px solid gray;
}
.form-control textarea {
  width: 100%;
  font-size: 20px;
  padding: 10px 6px;
  border: 1px solid gray;
  resize: none;
  height: 150px;
  border-radius: 2px;
}
.form-control input:focus {
  outline: 1px solid #5439f8;
  border-radius: 2px;
}
.form-control textarea:focus {
  outline: 1px solid #5439f8;
}
.send-button {
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: #f6f5fc;
  font-size: 20px;
  background-color: #5439f8;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .contact-col {
    margin-bottom: 30px;
    width: 80%;
  }
}
/* contact section style end */
/* sponser section style start  */
#sponser {
  text-align: center;
  margin: auto;
}
.sponser-list {
  width: 100%;
  display: flex;
  margin: 60px 0;
  padding: 40px 20px;
}
.sponser-list li {
  list-style: none;
  padding-left: 50px;
}

@media only screen and (max-width: 768px) {
  .sponser-list {
    margin-left: 0;
    flex-direction: column;
  }
  .sponser-list li {
    padding-left: 0;
  }
}
/* sponser section style end  */
/* footer section */
ul li {
  list-style: none;
}
.icon {
  margin: 20px 0;
}
.icon ul {
  display: flex;
  justify-content: space-evenly;
}
.icon ul li {
  list-style: none;
  font-size: 20px;
}
.copyright {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px;
  text-align: center;
}
.copyright li {
  list-style-type: none;
}
@media only screen and (max-width: 768px) {
  .copyright {
    flex-direction: column;
  }
}
